/*====================================
 * Result Page */
#result .search-field {
  width: 95%;
  padding: 10px;
  margin-left: 5%; }
  #result .search-field button.search {
    font-size: 3em;
    display: inline-block;
    margin-left: -6%;
    border: 0;
    color: #ffffff;
    position: relative;
    z-index: 2;
    background-color: #ff530d;
    padding: 0 20px; }
  #result .search-field input {
    font-size: 3em;
    padding: 5px 10px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    margin: 0;
    background: transparent;
    border: none;
    outline: 0;
    width: 86%;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid #ddd;
    background-color: #fff; }
    #result .search-field input:focus {
      background: rgba(255, 255, 255, 0.6); }
  #result .search-field .advanced-actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    #result .search-field .advanced-actions select {
      padding: 5px 10px;
      border: 1px solid #ddd;
      font-size: 19px;
      margin-right: 10px;
      margin-top: 10px;
      min-width: 200px; }
#result .result-cards {
  padding: 10px 20px;
  float: left;
  width: 83%;
  height: 100vh;
  margin-left: 5%;
  background: #3f5765; }
  #result .result-cards .single-card.asRow {
    width: 46%;
    float: left;
    margin: 2%;
    text-align: center;
    height: 10em;
    position: relative;
    -webkit-box-shadow: 0px 0px 4.6px 0.4px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 4.6px 0.4px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    overflow: hidden;
    -webkit-transition: 0.1s;
    transition: 0.1s; }
    #result .result-cards .single-card.asRow.result-sponser {
      -webkit-box-shadow: 0px 0px 4.6px 0.4px rgba(255, 255, 255, 0.75);
              box-shadow: 0px 0px 4.6px 0.4px rgba(255, 255, 255, 0.75);
      -webkit-transform: scale(1.05);
              transform: scale(1.05); }
    #result .result-cards .single-card.asRow:hover {
      -webkit-box-shadow: 0px 0px 4.6px 0.4px rgba(0, 0, 0, 0.85);
              box-shadow: 0px 0px 4.6px 0.4px rgba(0, 0, 0, 0.85); }
      #result .result-cards .single-card.asRow:hover .d-layer {
        background: rgba(9, 9, 9, 0.4); }
    #result .result-cards .single-card.asRow .d-layer {
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      background: rgba(9, 9, 9, 0.5);
      z-index: 2;
      -webkit-transition: 0.25s;
      transition: 0.25s; }
    #result .result-cards .single-card.asRow img {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1; }
    #result .result-cards .single-card.asRow h3 {
      text-align: center;
      font-family: "Roboto", sans-serif;
      color: #FFF;
      position: relative;
      z-index: 2;
      padding-top: 1em; }
    #result .result-cards .single-card.asRow p {
      font-size: 0.9em;
      color: #FFF;
      z-index: 2;
      position: relative; }
    #result .result-cards .single-card.asRow span.catg-name {
      color: #ff530d;
      z-index: 2;
      position: absolute;
      bottom: 5px;
      right: 0;
      left: 0;
      display: block;
      text-align: center;
      font-weight: bold; }
#result .ads {
  background: #3f5765;
  height: 100vh; }
  #result .ads img {
    margin-top: -4em; }
  #result .ads .copyRights {
    color: #FFF; }

.result-sponser img {
  display: none; }

/*# sourceMappingURL=result.css.map */