<!-- <ngx-spinner *ngIf="isLoading" color = "#FFA500" ></ngx-spinner> -->
<!-- <div *ngIf="!isLoading"> -->
<app-sidenav></app-sidenav>
<!-- english content -->
<section id="single">

  <app-slider [Sliders]="single?.sliders" [lat]="single?.lat" [lat]="single?.lng" [baseImage]="_WateserviceService.imageBaseUrl"></app-slider>

  <!-- Place Details
        ===================================-->
  <div class="place-details">
    <!-- Map button -->
    <div class="custom-map-btn" (click)="mapContact(single.lat,single.lon)">
      <i class="icon ion-map"></i>
    </div>

    <h1 *ngIf="lang">{{single?.title_en}}</h1>
    <h1 *ngIf="!lang">{{single?.title_ar}}</h1>
    <p *ngIf="lang">{{ single?.desc_en }}</p>
    <p *ngIf="!lang">{{ single?.desc_en }}</p>

    <div class="details-list">
      <div class="single-detail">
        <span class="icon icon-map open-map" data-intro='Some description or hint about this thing!'>
          <i class="icon ion-ios-location-outline" (click)="mapContact(single.lat,single.lon)"></i>
        </span>
        <span class="text" *ngIf="lang"> {{single?.address_en}} </span>
        <span class="text" *ngIf="!lang"> {{single?.address_ar}} </span>
      </div>
      <!--/-->
      <div class="single-detail" (click)="openModal(social)">
        <span class="icon">
          <i class="icon ion-android-share-alt"></i>
        </span>
        <span class="text">Share</span>
      </div>
      <!--/-->
      <div class="single-detail">
        <span class="icon">
          <i class="icon ion-ios-telephone"></i>
        </span>
        <span class="text" *ngIf="lang">{{single?.phone}}</span>
        <span class="text" *ngIf="!lang">{{single?.phone}}</span>
      </div>


      <app-working-hours [workingHours]="single?.workin_hours"></app-working-hours>

      <app-report-contact [contactID]="contactID"></app-report-contact>

      <!--/-->
      <div class="single-detail" *ngIf="single?.website">
        <span class="icon">
          <i class="icon ion-ios-world-outline"></i>
        </span>
        <span class="text">
          <a href="{{single?.website}}" target="_blank">{{single?.website}}</a>
        </span>
      </div>
      <!--/-->
      <div class="single-detail">
        <div class="social">
          <ul>
            <a *ngIf="single?.twitter" href="{{single?.twitter}}" target="_blank">
              <li>
                <i class="icon ion-social-twitter"></i>
              </li>
            </a>
            <a *ngIf="single?.fb" href="{{single?.fb}}" target="_blank">
              <li>
                <i class="icon ion-social-facebook"></i>
              </li>
            </a>
            <a *ngIf="single?.linkedin" href="{{single?.linkedin}}" target="_blank">
              <li>
                <i class="icon ion-social-linkedin"></i>
              </li>
            </a>
            <a *ngIf="single?.instagram" href="{{single?.instagram}}" target="_blank">
              <li>
                <i class="icon ion-social-instagram"></i>
              </li>
            </a>
          </ul>
        </div>
      </div>
      <!--/-->
    </div>
    <!--/.details-list-->
    <app-menu-image *ngIf="single?.menu_img" [menuImg]="single?.menu_img" [baseImage]="_WateserviceService.imageBaseUrl"></app-menu-image>
    <app-branch [Branches]="single?.branches" [baseImage]="_WateserviceService.imageBaseUrl" *ngIf="single?.branches.length > 0"></app-branch>

    <div class="clearfix"></div>
    <h3>Related Places</h3>
    <div class="categories-cards full-width clearfix">
      <app-contact-card *ngFor="let contact of related" [contact]="contact" [baseImage]="_WateserviceService.imageBaseUrl"></app-contact-card>
    </div>


  </div>
  <!-- Controller and Ads
        ===================================-->
  <app-copy-rights></app-copy-rights>
</section>



<!-- <ng-template #social>
      <div class="modal-header">
        <h4 class="modal-title pull-left" *ngIf="lang">Social Sharing</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="">
          <div class="row">
            <button shareButton="facebook">Facebook</button>
            <button shareButton="Google+">Google+</button>
            <button shareButton="twitter">Tweet</button>
            <button shareButton="LinkedIn">LinkedIn</button>
            <button shareButton="WhatsApp">WhatsApp</button>
            <button shareButton="Email">Email</button>
          </div>
        </div>
      </div>
    </ng-template> -->
<!-- </div> -->