<ng-progress></ng-progress>
<!-- Brand -->
<section class="logo index-logo">
  <img src="./assets/img/full-logo.png" alt="Logo" />
</section>

<!-- Search input
===================================-->
<section id="searchInput" *ngIf="lang">
  <form [formGroup]="searchForm" (ngSubmit)="search()" novalidate>
    <input formControlName="name" type="text" [typeahead]="KeysList" [(ngModel)]="model" />
    <select [ngModelOptions]="{standalone: true}" [(ngModel)]="governmentSearch" class="select-city" >
      <option value="0">All</option>
      <option *ngFor="let gov of governments" value="{{gov.id}}">{{gov.name_en}}</option>
    </select>

    <button type="submit" [disabled]="!searchForm.valid">
      <i class="icon ion-ios-search"></i>
    </button>
  </form>
</section>

<!-- Search input
===================================-->
<section id="searchInput" *ngIf="!lang">
  <form (submit)="search(name)">
    <input type="text" name="name" [(ngModel)]="name" placeholder="أبحث هنا..">
    <i class="icon ion-ios-location-outline"></i>
    <button type="submit" [disabled]="!name">
      <i class="icon ion-ios-search"></i>
    </button>
  </form>
</section>


<!-- Categories -->
<section id="categories" class="clearfix">

  <div class="single-category notClicked" *ngFor="let cat of categories | slice:0:4; let i=index ">
    <div class="name" [style.background-image]="'url(' + img + +  (1+i) + +'.png'+ ')'">
      <img src="./assets/img/icons/{{cat.img}}" alt="Icon" />
      <span *ngIf="lang">{{cat.name_en}}</span>
      <span *ngIf="!lang">{{cat.name_ar}}</span>
    </div>
    <div class="categoriesSamples clearfix">

      <ul>
        <a *ngFor="let subCat of cat.sub_categories; let last = last;" (click)="goToSubcat(subCat.id)">
          <li *ngIf="lang">{{subCat.name_en}}</li>
          <li *ngIf="!lang">{{subCat.name_ar}}</li>
        </a>
        <a href="#" class="close-catg" onclick="return false;">
          <li>Close</li>
        </a>

      </ul>
    </div>
  </div>


  <div class="single-category viewMore">
    <i class="icon ion-ios-plus-empty"></i>
    <div class="name">
      <span *ngIf="lang">View More</span>
      <span *ngIf="!lang">اظهر المزيد</span>
    </div>
  </div>



  <span class="all-catg">


    <div class="single-category notClicked" *ngFor="let cat of categories  | slice:4">
      <div class="name" [style.background-image]="'url(' + img + +  (1+i) + +'.png'+ ')'">
        <img src="./assets/img/icons/{{cat.img}}" alt="Icon" />
        <span *ngIf="lang">{{cat.name_en}}</span>
        <span *ngIf="!lang">{{cat.name_ar}}</span>
      </div>
      <div class="categoriesSamples clearfix">
        <ul>
          <a *ngFor="let subCat of cat.sub_categories" (click)="goToSubcat(subCat.id)">
            <li *ngIf="lang">{{subCat.name_en}}</li>
            <li *ngIf="!lang">{{subCat.name_ar}}</li>
          </a>
          <a href="#" class="close-catg" onclick="return false;">
            <li *ngIf="lang">Close</li>
            <li *ngIf="!lang">اغلاق</li>
          </a>
        </ul>
      </div>
    </div>

    <div class="clearfix"></div>
    <a href="#" onclick="return false;">
      <div class="single-category viewAll">
        <span *ngIf="lang">View All</span>
        <span *ngIf="!lang">اظهار الكل</span>
      </div>
    </a>
  </span>


</section>
<!--/#categories-->


<section id="Allcategories" class="clearfix">
  <div class="d-bg"></div>
  <div class="logo">
    <img src="./assets/img/full-logo.png" alt="Logo" />
  </div>
  <span class="hideAll">
    <i class="icon ion-ios-close-empty"></i>
  </span>

  <div class="shortcuts">
    <h3>Shortcuts: </h3>
  </div>

  <div class="clearfix"></div>
  <div class="warpper">
    <div class="single-category-card" *ngFor="let cat of categories; let i=index;" id="{{cat.name}}">
      <div class="top">
        <div class="d-layer"></div>
        <img src="./assets/img/bg/{{(1+i)}}.png" alt="background" class="bg" />
        <img src="./assets/img/icons/{{cat.img}}" alt="Icon" class="icon" />
        <span class="name" *ngIf="lang">{{cat.name_en}}</span>
        <span class="name" *ngIf="!lang">{{cat.name_ar}}</span>
      </div>
      <div class="bottom">
        <ul *ngFor="let subCat of cat.sub_categories">
          <a (click)="goToSubcat(subCat.id)">
            <li *ngIf="lang">{{subCat.name_en}}</li>
            <li *ngIf="!lang">{{subCat.name_ar}}</li>
          </a>
        </ul>
      </div>
    </div>
  </div>
</section>

<app-home-footer [settings]="settings" [lang]="lang"></app-home-footer>